* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* index.css or App.css 등 */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white; /* ❗️다크모드도 강제로 흰색으로 */
        color: black;
    }
}
